.contact_form {
  padding: 20px 0;
}

.input_wrapper {
  display: flex;
  gap: 36px;
  justify-content: center;
  margin-bottom: 16px;
}

.contact_form button {
  font-size: 14px;
  padding: 8px;
  cursor: pointer;
}

.contact_form_item {
  display: flex;
  gap: 4px;
  flex-direction: column;
  width: 200px;
  text-align: left;
  margin-bottom: 12px;
}

.contact_form_item input {
  font-size: 16px;
  height: 20px;
}
